@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Scheduler Application</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Scheduler</h2>
        <p>
            With this application, you will be 
            able to control the registration
            system for your university by being
            able to add students, courses, instructors,
            and edit the details of each one.
        </p>
    </div>
</div>
